<h1>Orders</h1>
<table class='table table-striped'>
  <tr>
    <th>ID</th>
    <th>Items</th>
    <th>Total</th>
    <th></th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.order_items.count %></td>
      <td><%= cents_to_dollars order.total %></td>
      <td><%= link_to "Info", order_path(order.id) %></td>
    </tr>
  <% end %>

</table>
